
<div class = "location">
<h1 class = "bridesmaid_name"> <%= @bridesmaid.name %> </h1> <br><br>
<img class = "bio-pic" src ="<%= @bridesmaid.picture %>" alt = "bm"> <br> <br>
<%= @bridesmaid.bio %> 
</div>