<% if params[:controller] == 'welcome' %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="title">Mikel & Angela</h1>
        <p>Thanks for stopping by!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">You can read a sappy story here. &raquo;</a></p>
      </div>
    </div>
    <% end %>