

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>Wedding RSVP</h2>
          <p> RSVP to Our Wedding HERE!</p>
          <p><a class="btn btn-default" href="https://anfperez.typeform.com/to/zVWcwo" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Location</h2>
          <p>Where the wedding will take place at. </p>
          <p><a class="btn btn-default" href="location" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h2>Gifts/Honeyfund</h2>
          <p>Information about gifts and gift-giving</p>
          <p><a class="btn btn-default" href="gifts" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Party</h2>
          <p>People who are going to wear the clothes we tell them to.</p>
          <p><a class="btn btn-default" href="party" role="button">View details &raquo;</a></p>
        </div>
      </div>