<div class = "location">

<h1> Contact Us </h1>

<p> If you need to get in contact with us, just send us an e-mail. <p> 
<p> Angela at <%= mail_to "anfperez@gmail.com", "anfperez@gmail.com" %> </p>
<p> Mike at <%= mail_to "#" %></p>
<p> But feel free to message us on Facebook, or text us if you have our numbers! </p>


</div>