<div class = "location">
<h1> Gifts </h1>
<p> First of all, we would like you to know that your presence at our wedding is the most important gift that you could give to us. Please do not feel obligated to do anything more than be present at this celebration. </p>

<p> That being said, we have had people ask us if we are currently registered anywhere. We have been living together for the past few months and have consolidated two households into one. Therefore, we are not in need of any material items. </p>

<p> If you do wish to give us a present, please consider donating to our Honeyfund. With money donated to the Honeyfund, we would like to take a vacation to the Philippines to see Angela's relatives, who were not able to join us for the wedding. </p>

<%= link_to "Mike and Angela's Honeyfund", "http://www.honeyfund.com/wedding/MikeandAngela" %> <br>
<br>

<p> Also in lieu of material items, please consider making a donation to the following charities. Angela's late mother Aura was a patron of each of these organizations. </p>
<%= link_to "World Wildlife Federation", "http://www.worldwildlife.org/" %>
<br>

<%= link_to "St. Joseph's Indian School", "http://www.stjo.org" %>
</div>