<div class = "location">

<h1> Location - The Royal Regency Hotel </h1>
<p> 165 Tuckahoe Road </p>
<p> Yonkers, NY 10710 </p>
<p> (914) 476-6200 </p>

<img class = "hotel" src = "http://www.royalregencyhotelny.com/wp-content/uploads/2016/02/IMG_8937_V3_GrandStaircase.jpg" alt ="hotel">

<p> We picked the Royal Regency Hotel in Yonkers, NY because of its proximity to NYC, and its beautiful purple decorations.</p>

<p> If you would like to book a room at the hotel with our promo rate, you need to call the front desk at 914-476-6200 ext. 0. We have a promo rate for two days: </p>
<ul>
<li> Friday, October 21: $159 </li>
<li> Saturday, October 22: $150 </li>
</ul>

<p> There are both king (2 people) and double (4 people) rooms available. If you would like to see a list of other guests so that you can coordinate roommates, please get in touch us! You can find our contact information on this website. </p>


</div>