<div class = "location">

<h1> The Wedding Party </h1>

<p> Joining us on this illustrious event are none other than our party members and family who have been so close to us this whole time! </p>

<h2> Bridesmaids </h2>

<h3> Christine </h3>
<p> Chris and Angela met when they were 10 years old, in 4th grade. Angela didn't have any friends, and the only person who sat with her at lunch was Christine. Angela had just seen the 1997 re-release of the Star Wars Original Trilogy, so for some reason she thought this was an acceptable topic to talk about and that was all she talked about to Christine. Christine tolerated this nonsense, but then she went and watched SW for herself and became really obsessed. So they became super Jedi together and they're still super Jedi! </p>

<h3> Natalie </h3>
<p> Nat and Angela met sometime in the 4th grade. They would talk on the phone for hours and hours. Whenever Coming to America, Blue Lagoon, Willy Wonka & the Chocolate Factory, or Fifth Element were on TV, they would call each other to talk about it even if they'd already seen the movie hundreds of times. Nat is a dispenser of good and sound advice. She is going to be the officiating the wedding! </p>

<h3> Katelyn </h3>
<p> Katelyn and Angela started talking about a shared love of the Final Fantasy series in 8th grade. Katelyn advised Angela how to kill Elnoyles to harvest Blue Magic in FFVIII. They started doing lame photoshoots together with costumes they made from their closets. Now Katelyn is far away in Spain living the cool almost-expat-but-not quite life. FF FOREVER! </p>

<h3> Wren </h3>
<p> Wren and Angela lived together for four years at Fordham. Wren was like the only reason Angela got through freshman year of college because she was super homesick. But Wren encouraged her to eat lots of sweets to increase her endolphin intake, so they got through. Angela also started wearing black clothes because of Wren and also got addicted to coffee because Wren made it at 1 am on essay nights. Wren also made Angela a "pit of despair" out of a water bottle to make fun of her for being emo. Hurray for roomates! </p>

<h3> Susan </h3>
<p> Angela is Susan's sempai/onee-san, kinda. They met at the Contemporary Science Fiction Club in 2006. Susan was known as the "freshman girl" for a bit because no one knew her name quite yet. But then Angela learned it and then they became friends! They've done a lot of cosplays together, like Tiger & Bunny and Metal Gear Solid. Many conversations start with Angela saying something kind of awkward and Susan corrects her. Alright! </p>

<h3> Sandra </h3>
<p> Sandra and Angela met when they realized they knew someone Sandra went to school with! From then on, they have bonded through a love of sweaty guys in fighting games. They have also done a lot of cosplays together! And know how to appreciate cute plushes and dolls. Good times, my friend. </p>

<h3> Dalin </h3>
<p> Dalin and Angela have been into the NYC Japanese fashion for like 8 years. They met in 2008 by going to some meetups together. Since then, they can ramble on and on about Disney, Star Wars, Broadway shows, like pretty much anything. Sleepovers forever! </p>

<h3> Laura </h3>
<p> Laura and Angela knew each other for a while, but grew close because they both loved this anime called Tiger & Bunny. It sort of consumed their lives, but then they realized they also enjoyed being friends with other and also their boyfriends liked each other. Angela can often be found falling asleep on Laura's couch on the weekend. </p>

<h2> Groomsmen </h2>

</div>