<div class = "location">
<h1> Fast Facts </h1>
  <div class = "box"> 
    <div class = "pic">
    </div>
    <div>
    <h3> Angela </h3>
      <p> I was born on May 20, 1987 in Queens, NY. My mom Aura came from the Philippines in 1981 to become a pediatrician in NYC. We settled in Roselle, NJ, where I continued to live for 25 years. </p>
      <p> I passed through school and went to Fordham University in the Bronx. I joined a science-fiction/video game/anime club, and it was there that I met Mike and many of my lifelong friends. I met him in September 2005 at Club Fair Day! I didn't know how important this meeting would be until later. We were both dating different people so I never thought we would date each other. But things worked out, so we started dating in September 2007. </p>
      <p> Mike has really helped me through a lot of difficult things in my life, most especially during the death of my mom in 2013. He is probably the best male figure I have in my life, so I'm very grateful to him for taking such good care of me. </p>
      </div>
    </div>
    <div class = "box">
      <h3> Mikel </h3>
      <p> Stuff </p>
      </div>



</div>