<div class = "location">
<h1> Fast Facts </h1>
  <div class = "box"> 
    <div class = "pic">
    </div>
    <div>
    <h3> Angela </h3>
      <p> Birthday: 05/20/</p>
      <p> Affiliations: Jedi Temple, Bene Gesserit Sisterhood, UCSS Nostromo, Sternbild Hero Academy </p>
      <p> Favorite video game: Final Fantasy IX </p>
      <p> I was born in Queens, NY. My mom Aura sent me to live in Quezon City, Philippines, with my relatives for the first few years of my life. Then I returned to the US and attended elementary and high school in Roselle, NJ. I went to Fordham University in the Bronx. I joined a science-fiction/video game/anime club, and it was there that I met Mike and many of my lifelong friends. I met him in September 2005 at Club Fair Day! I didn't know how important this meeting would be until later. But things worked out, so we started dating in September 2007. </p>
      <p> Mike has really helped me through a lot of difficult things in my life, most especially during the death of my mom in 2013. He is probably the best male figure I have in my life, so I'm very grateful to him for taking such good care of me. Life is good. </p>
      </div>
    </div>
    <div class = "box">
      <h3> Mikel </h3>
      <p> 07/21 </p>
      <p> Affililations: First Order, Avengers Academy, Ginyu Force </p>
      <p> Favorite video game: Final Fantasy VI </p>
      <p> Mike was born in the pyres of madness and spent his youth selling memory foam beds to the residents of the void. Tired of this thankless job, he rode off into the third sun and by chance located the lost artifact "Contemporary Science Fiction Club". He was not alone, as another had caught glimpse of this shimmmering artifact in the distance. Her name was Angela, and thus began the Star Wars. </p>
      </div>



</div>