.navbar {
  margin-bottom: 0;
}

.jumbotron {
  background: url("http://i.imgur.com/pUdmnWV.jpg");
  color: white;
}

.hotel {
  width: 540px;
  height: auto;
  margin: 0 auto;
}

.location {
  text-align: center;
}

.bridesmaid_name {
  text-align: center;
}

.box {
  border-style: dotted;
}

.bio-pic {
  width: 300px;

}